#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.post-container {
    margin: 2em 10px;
    width: 90%;
    max-width: 355px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px lighten($tertiary, 20);

}

.img-container {
    height: 85%;
}
#data-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    margin: 0;
    height: 100%;
}

.icon {
    object-fit: fill;
}
.pencil.icon {
    height: 20px;
    width: 20px;
    margin: 0;
}

.heart.icon {
    height: 21px;
    width: 21px;
    margin: 0;
}

.action-container {
    position: relative;
    display: flex;
    .likes-number {
        position: absolute;
        right: 10px;
        top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 10px;
        }
    }
    .comments-number {
        position: absolute;
        right: 50px;
        top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 10px;
        }
    }
}