$primary: #fd2d01;
$secondary: #ffd7d7;
$tertiary: #4e5166;

@import "./createPosts";
@import "./getPosts";

.logo-container {
  width: 70%;
}
#logo {
  height: 31px;
  margin: 0;
}

.logout-icon {
  font-size: 20px;
  color: lighten($tertiary, 15);
}

.post-page {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}