$primary:  #FD2D01;
$secondary:  #FFD7D7;
$tertiary: #4E5166;

.logo-container {
    width: 70%;
}
#logo {
    height: 31px;
    margin: 0;
}

.logout-icon {
    font-size: 20px;
    color: lighten($tertiary, 15);
}

.post-page {
    display: block;
}