//Colors
$primary: #FD2D01;
$secondary: #FFD7D7;
$tertiary: #4E5166;

//Fonts
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-bold';
    src: url('../assets/fonts/Lato-Bold.ttf');
}

$font-1 : 'Lato', sans-serif;
$font-2: 'Lato-bold', sans-serif;

//Mixins
@mixin FlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
}

//Navigation
.navigation {
    &__list{
        @include FlexCenter;
        flex-direction: column;
        position: relative;
    }
}
.logo {
    width: 90%;
}

.links-wrapper{
    @include FlexCenter;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.link{
    padding: 10px;
    text-decoration: inherit;
    color: inherit;
}


//Main
main {
    position: relative;
    @include FlexCenter;
    flex-direction: column;
    &::before{
        position: absolute;
        content: "";
        top: -18px;
        width: 100%;
        height: 3px;
        background: lighten($tertiary, 50) ;
    }
}

h1 {
    font-size: 20px;
    padding: 15px;
    color: $primary;
}
//Formulaire
.form-wrapper {
    width: 70%;
    max-width: 400px;
    @include FlexCenter;
    margin-top: 10px;
    background: $secondary;
}

form {
    padding: 30px 0 0 0;
    .champ {
        position: relative;
    }
    label {
        position: absolute;
        font-size: 15px;
        top: 24px;
        left: 9px;
        transform: scale(1) translate(0);
    }
    input {
        outline: none;
        width: 200px;
        border: 0px;
        padding: 7px;
        border-radius: 5px;
    }
}

.btn-wrapper {
    @include FlexCenter;
    margin: 15px 0;
    button {
        color: darken($tertiary, 20);
        font-family: $font-2;
        padding: 10px 25px;
        border: 0;
        border-radius: 20px;
        text-decoration: none;
        background: darken($secondary, 20);
    }
}