.auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9b9eb2;
}

.log-container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 30px 3px #595c74;
          box-shadow: 0px 3px 30px 3px #595c74;
}

.connection-form {
  width: 100%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

ul .auth-btn {
  list-style: none;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #4e5166;
  border: #4e5166 0.1em solid;
  background: #f1f2f5;
  cursor: pointer;
  border-radius: 3px;
}

ul .active-btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  background: #4e5166;
}

img {
  width: 200px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 14px 20px 0 0;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .input-wrapper input,
.form-container .input-wrapper label {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-container .input-wrapper input {
  min-width: 250px;
  height: 40px;
  padding: 0.5em 0.5em 0.5em 1.8em;
  border: 0;
  border-radius: 15px;
}

.form-container .input-wrapper input:focus {
  padding-left: 0.7em;
  outline: none;
}

.form-container .input-wrapper label {
  color: #4e5166;
  line-height: 1;
}

.submit-btn {
  padding: 12px 15px;
  letter-spacing: 1px;
  background: #fd2d01;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

#root > div > div {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 100px;
}
/*# sourceMappingURL=index.css.map */